/data/
/docs/
/sessions/
/VLBI-utilities/
/venv/
/.project
/.pydevproject
/Makefile~
/VLBI-utilities/
/antabfs_tassili.py~
/antabfs_tassili.sh~
/gm076tr.antabfs
/n21l2tr.antabfs
/projects
/es098btr.antabfs
/VLBI-utilities/
/VLBI-utilities/
